html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}
body {
    background-color: #2E3349;
    height: calc(100vh - 2rem);
    width: 100%;
    display: table;
    border-collapse: collapse;
}
footer {
    display: table-row;
    height: 0;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

label {
    padding-left: 5px;
}
fieldset {
    border: 0.5px solid white;
    height: fit-content;
    width: fit-content;
    margin: auto;
}
legend {
    font-size: 15px;
    float: none;
    width: auto;
    margin-left: 10px;
    margin-right: auto;
}




/*Index page*/
.wrapper {
    margin-top: 10rem;
}
.site-header {
    width: 100%;
    margin: 2.5rem auto;
    color: white;
}
.site-name {
    display: flex;
    justify-content: center;
}
.input-form {
    width: auto;
    max-width: calc(310px + 10rem);
    margin: 0 auto;
    border-end-end-radius: 25px;
}
.border {
    border: none !important;
}
.form-control {
    border-end-end-radius: 20px !important;
    border-start-end-radius: 20px !important;
}
.ms-n5 {
    margin-left: -40px;
    color: black;
    height: 100%;
    background-color: transparent !important;
}
.alert {
    width: auto;
    max-width: calc(310px + 20rem);
    margin: 0 auto;
    border-radius: 25px;
}




.ErrorMessageNoInput {
    position: absolute;
    left: 50%;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    color: red;
}
.ErrorMessageNoRegion {
    position: absolute;
    left: 50%;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    color: red;
}
.ErrorMessageNoUsername {
    position: absolute;
    left: 50%;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    color: red;
}
.ErrorMessageNoUser {
    position: absolute;
    left: 50%;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    color: red;
}

/*home page*/
.HomeWelcome {
    color: white;
}

/*profile page*/
.ProfileUsername {
    color: white;
    font-size: 50px;
}
.ProfileLevel {
    color: white;
    font-size: 20px;
}
.ProfileRegion {
    color: white;
    font-size: 20px;
}
.Champions {
    float: left;

    color: white;
    width: 500px;
    height: fit-content;
    text-align: left;
    padding-left: 5px;
}
.RankedBoxes1 {
    float: left;
    width: 25%;
}
.RankedBoxes {
    clear: both;
    float: left;
    width: 75%;
}
#Champs {
    width: 100%;
}
#Champs td.col1 {
    position: absolute;
    width: 30%;
    padding: 5px 25px 5px 15px;
}

#Champs td.col2 {
    position: relative;
    width: 35%;
    padding: 5px 25px 5px 25px;
}

#Champs td.col3 {
    position: relative;
    width: 35%;
    padding: 5px 10px 5px 35px;
}
.SoloDuo {
    color: white;
    width: 225px;
    height: fit-content;
    text-align: left;
    padding-left: 5px;
}

.Flex {
    color: white;
    width: 225px;
    height: fit-content;
    text-align: left;
    padding-left: 5px;
}

/*champions page*/
.ChampionsWelcome {
    color: white;
}
.ChampionsList {
    margin: auto;

    position: absolute;
    top: 20%;
    bottom: 50%;
}
.ChampionBoxes {
    float: left;
    padding-right: 200px;
    top: 90%;
}
.ChampionsListBox {
    color: white;
}
.abilitiesFieldset {
    width: 400px;
}
.ButtonAbility {
    color: white;
    margin-left: 10px;
}
.AbilityText {
    float: right;
    margin-right: 20px;
    width: 80%;
}

/*overview page*/
.newPage {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}