@page
@model HomeModel
@{
    ViewData["Title"] = "Home page";
}

<div class="HomeWelcome">
    <h1 class="display-4">Welcome, @IndexModel.Username!</h1>
    <p>Thank you for choosing WebScraper 2.0.</p>
    <p>The purpose of this application is to migrate our existing application, League Scrape, to a fully functioning web browser.</p>
    <p>We understand it has taken an unexpected amount of time to deliever you a finished product and thank you for your patience.</p>
</div>