@page
@model IndexModel
@{
    ViewData["Title"] = "Start";
}

<div class = "wrapper">
    <div class = "site-header">
        <h1 class="site-name">
            <strong>League of Statistics</strong>
        </h1>
    </div>

    <form class = "input-form" method = "POST">
        <div class = "input-group mb-3">
            <div class = "input-group-prepend">
                <div class = "dropdown">
                    <button type = "button" class = "btn btn-primary dropdown-toggle" id = "dropdownMenuButton" data-toggle = "dropdown" aria-haspopup = "true" aria-expanded = "false">NA</button>
                    
                    <script src="~/lib/jquery/dist/jquery.min.js"></script>
                    <script type = "text/javascript">
                        $(function () {
                            $(".dropdown-menu").on('click', 'a', function () {
                                $("#dropdownMenuButton").text($(this).attr('id'));
                            });
                        });
                    </script>

                    <div class = "dropdown-menu" id = "dropdown-menu" aria-labelledby = "dropdownMenuButton">
                        <a class = "dropdown-item" id = "NA">North America (NA)</a>
                        <a class = "dropdown-item" id = "EUW">Europe - West (EUW)</a>
                        <a class = "dropdown-item" id = "EUNE">Europe - Nordic & East (EUNE)</a>
                        <a class = "dropdown-item" id = "KR">Korea (KR)</a>
                        <a class = "dropdown-item" id = "BR">Brazil (BR)</a>
                        <a class = "dropdown-item" id = "JP">Japan (JP)</a>
                        <a class = "dropdown-item" id = "RU">Russia (RU)</a>
                        <a class = "dropdown-item" id = "OCE">Oceania (OCE)</a>
                        <a class = "dropdown-item" id = "TR">Turkey (TR)</a>
                        <a class = "dropdown-item" id = "LAN">Latin America - North (LAN)</a>
                        <a class = "dropdown-item" id = "LAS">Latin America - South (LAS)</a>
                    </div>
                </div>
            </div>
            <input type = "text" class = "form-control" placeholder = "Username" aria-label = "Username" aria-describedby = "dropdownMenuButton" onclick = "setRegion()" />
            <span class = "input-group-append">
                <button type = "submit" class = "btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border-top-0 border ms-n5">
                    <i class = "bi bi-search"></i>
                </button>
            </span>
        </div>
    </form>
</div>

@*<!--Nothing entered-->
<label class = "ErrorMessageNoInput" id = "ErrorMsgNoInput" name = "ErrorMsg">@Model.NoInputMessage</label>

<!--No region entered-->
<label class = "ErrorMessageNoRegion" id = "ErrorMsgNoRegion" name = "ErrorMsg">@Model.NoRegionMessage</label>

<!--No username entered-->
<label class = "ErrorMessageNoUsername" id = "ErrorMsgNoUsername" name = "ErrorMsg">@Model.NoUsernameMessage</label>

<!--User doesn't exist-->
<label class = "ErrorMessageNoUser" id = "ErrorMsgNoUser" name = "ErrorMsg">@Model.NoUserMessage</label>*@