@page
@model IndexModel
@{
    ViewData["Title"] = "Start page";
}
<div class = "site-header">
    <h1 class="site-name"><strong>League of Statistics</strong></h1>
</div>

<form method = "POST">
    <div class = "fields">
        <!--User's Region fieldset-->
        @*<fieldset class = "region">
            <legend>Region</legend> 
            <!--North America-->
            <label for = "checkNA">NA</label>
            <input type = "checkbox" name = "UserRegion" value = "na">
            <!--Europe West-->
            <label for = "checkEUW">EUW</label>
            <input type = "checkbox" name = "UserRegion" value = "euw">
            <!--Europe Nordic & East-->
            <label for = "checkEUNE">EUNE</label>
            <input type = "checkbox" name = "UserRegion" value = "eune">
            <!--Korean-->
            <label for = "checkKR">KR</label>
            <input type = "checkbox" name = "UserRegion" value = "kr">
            <!--Brazil-->
            <label for = "checkBR">BR</label>
            <input type = "checkbox" name = "UserRegion" value = "br">
            <!--Japan-->
            <label for = "checkJP">JP</label>
            <input type = "checkbox" name = "UserRegion" value = "jp">
            <!--Russia-->
            <label for = "checkRU">RU</label>
            <input type = "checkbox" name = "UserRegion" value = "ru">
            <!--Oceania-->
            <label for = "checkOCE">OCE</label>
            <input type = "checkbox" name = "UserRegion" value = "oce">
            <!--Turkey-->
            <label for = "checkTR">TR</label>
            <input type = "checkbox" name = "UserRegion" value = "tr">
            <!--Latin America North-->
            <label for = "checkLAN">LAN</label>
            <input type = "checkbox" name = "UserRegion" value = "lan">
            <!--Latin America South-->
            <label for = "checkLAS">LAS</label>
            <input type = "checkbox" name = "UserRegion" value = "las">
        </fieldset>*@

        @*<div class= "user-input">
            <!--Username Textbox-->
            <input class = "UserTextBox" type = "text" name = "UserName" placeholder = "Username..."/>
                
            <!--Submit Button-->
            <input class = "SubmitButton" type = "submit" value = "Search" />
        </div>*@
    </div>
</form>

<!--Nothing entered-->
<label class = "ErrorMessageNoInput" id = "ErrorMsgNoInput" name = "ErrorMsg">@Model.NoInputMessage</label>

<!--No region entered-->
<label class = "ErrorMessageNoRegion" id = "ErrorMsgNoRegion" name = "ErrorMsg">@Model.NoRegionMessage</label>

<!--No username entered-->
<label class = "ErrorMessageNoUsername" id = "ErrorMsgNoUsername" name = "ErrorMsg">@Model.NoUsernameMessage</label>

<!--User doesn't exist-->
<label class = "ErrorMessageNoUser" id = "ErrorMsgNoUser" name = "ErrorMsg">@Model.NoUserMessage</label>